body {
      font-family: Arial, sans-serif;
      margin: 2rem;
      background-color: #f7f7f7;
      color: #333;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0 auto;
      max-width: 800px;
      font-family: "Cabin", sans-serif;
    }
    h1, h2 {
      color: #178606; 
      font-family: "Joan", serif;
    }
    section {
      margin-bottom: 2rem;
    }
    .color-sample {
      display: inline-block;
      width: 100px;
      height: 30px;
      margin-right: 10px;
      border: 1px solid #ccc;
    }
    .green {
      background-color: #178606;
    }
    .peach {
      background-color: #fff;
    }

    img {
      margin: 0 auto;
      display: block;
    }