.contact-section {
  padding: 4rem 1rem;
  background-color: #f9f9f9;
  font-family: var(--body-font);
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  background: white;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h1 {
  font-size: 2.5rem;
  color: var(--main-color);
}

.contact-header p {
  font-size: 1.1rem;
  color: var(--text-medium);
}

.contact-grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  padding: 1rem;
}

.contact-info h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.contact-info p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #555;
}

.contact-info i {
  color: var(--main-color);
  margin-right: 0.5rem;
}

.contact-form {
  flex: 2;
  display: flex;
  flex-direction: column;

}

.contact-form label {
  font-weight: bold;
  color: var(--text-dark);
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  transition: border 0.3s ease;
  margin-bottom: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--main-color);
  outline: none;
}