@media (max-width: 1024px) {
  .contact-grid {
    flex-direction: column;
  }
  .newsletter-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .blog-card {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  header {
    position: relative;
  }
  nav {
    display: block;
    position: absolute;
    top: 90px;
    background-color: #fcfcfc;
    z-index: 200;
    width: 100%;
    height: 40vh;
    left: -100%;
    transition: all 0.5s ease;
  }
  nav.active {
    left: 0;
  }
  nav ul {
    display: block;
    text-align: center;
    padding: 50px 0;
  }
  nav li {
    font-size: 1.2rem;
  }
  .arrow {
    margin-right: 20px;
    font-size: 1rem;
  }
  .user-picture {
    display: none;
  }
  .menu-activador {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }
  .menu-activador-linea {
    height: 2px;
    background-color: var(--text-color, var(--main-color));
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }
  #lanzador {
    position: absolute;
    left: -9999px;
  }
  #lanzador:checked ~ label.menu-activador-linea:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #lanzador:checked ~ label.menu-activador-linea:nth-child(2) {
    opacity: 0;
  }
  #lanzador:checked ~ label.menu-activador-linea:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 25px 0;
  }
  main {
    row-gap: 0px;
  }
  .hero {
    height: auto;
    padding: 10px;
  }
  .hero-text {
    width: 80%;
    height: auto;
    margin: 0;
    padding: 20px;
    row-gap: 10px;
  }
  .hero-text h1 {
    font-size: 2.2em;
  }
  .hero-text h3 {
    font-size: 12px;
  }
  .hero p {
    font-size: 16px;
  }
  .hero.buttons {
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
  }
  .button {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .hero.button:hover {
    background-color: #fcfcfc;
    color: var(--main-color);
  }
  .button.red {
    display: none;
  }
  .hero::before {
    background-image: url('../images/04_vegan.webp');
    background-size: cover;
    background-position: center;
  }
  .como-funciona {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .container-2 {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .button {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
    text-align: center;
    
  }
 
  .como-funciona-img {
    display: none;
  }
  .como-funciona-text {
    width: 80%;
    margin: 0;
  }
  .como-funciona-text h2 {
    text-align: center;
    font-size: 24px;
   .button {
    margin: 0 auto;
   } 
   
  }
  .como-funciona-text p {
    text-align: center;
    font-size: 12px;
  }
  .numbers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .number {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  .number span {
    display: inline-block;
    width: 50px;
    height: 40px;
    font-size: 16px;
  }
  .number p {
    font-size: 12px;
    color: var(--text-medium);
  }
  .footer-top {
    flex-direction: column;
  }
}
.recipes-container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.footer-top .footer-section {
  width: 80%;
}
