@media (max-width: 890px) {

   .container-header {
    position: relative;
    flex-direction: column;
    align-items: start;
  }
  
  .top h2 {
    font-size: 15px;
  }


  nav {
    display: none;
  }
  .bottom {
    width: 100%;
  }
  .bottom nav ul {
    display: flex;          
    flex-direction: column;  
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .bottom nav ul li {
    width: 100%;
    text-align: center;          
    margin: 10px 0;         
  }
  
  .bottom nav ul li:hover {
    background-color: var(--lila);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .bottom nav ul li a {
    display: block;         
    color: var(--text-color);          
    text-decoration: none;          

  }
  
 
  #lanzador:checked ~ .bottom nav {
    display: flex; 
    flex-direction: column;
  }

  .bottom {
    position: relative;
  }

  .menu-activador {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .menu-activador-linea {
    height: 2px;
    background-color: var(--text-color, black);
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }

  #lanzador {
    position: absolute;
    left: -9999px;
  }

  /* Efecto de las líneas */
  #lanzador:checked ~ label .menu-activador-linea:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  #lanzador:checked ~ label .menu-activador-linea:nth-child(2) {
    opacity: 0;
  }

  #lanzador:checked ~ label .menu-activador-linea:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  

  footer p {
    font-size: 12px;
  }
  footer p a {
    font-size: 12px;
  }
  footer .global-container {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .card-list {
    text-align: center;
  }
  .card-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-list-info a {
    margin: 0;
  }

}

