@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;

  
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
